.header {
    background: linear-gradient(to right, #4568dc, #fa8072); 
    color: #333;
    text-align: center;
}

.header h1 {
    display: inline-block;
    font-family: "Outfit", sans-serif;
    font-weight: 900;
}

.icon {
    cursor: pointer;
    color: #333;
    float:initial;
}

.btn {
    font-size: 17px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background: #8400ff;
    color: white;
    border-radius: 4px;
}

.btn:hover {
    background: rgb(2, 0, 36);
    background: linear-gradient(to right, #4568dc,#fa8072);
}

.btn:active {
    transform: translate(0em, 0.2em);
}