.header {
<<<<<<< Updated upstream
    background: linear-gradient(to right, #ff2609, #ffd900);
    color: #333;
=======
    background: radial-gradient(circle, rgba(152,217,241,0.8911939775910365) 0%, rgba(246,139,161,0.8155637254901961) 100%);; 
    color: #111;
>>>>>>> Stashed changes
    text-align: center;
}

.header h1 {
    display: inline-block;
    font-family: "Outfit", sans-serif;
    font-weight: 900;
}

.icon {
    cursor: pointer;
    color: #333;
    float:initial;
}

.btn {
    font-size: 17px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background: orangered;
    color: white;
    border-radius: 4px;
}

.btn:hover {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, #ff7b00d0 0%, #ff2609 100%);
}

.btn:active {
    transform: translate(0em, 0.2em);
}