.footer {
    background: linear-gradient(to right, #ff2609, #ffd900);
    color: #222;
    text-align: center;
    position: sticky; 
}
.footer h1{
    font-family: "Outfit", sans-serif;
    font-weight: 900;
}