.footer {
    background: linear-gradient(to right, #fc4b1aad, #f7b633a4);
    color: #222;
    text-align: center;
    position: sticky; 
}
.footer h1{
    font-family: "Outfit", sans-serif;
    font-weight: 900;
}