
.footer {  
    background: radial-gradient(circle, rgba(152,217,241,0.8911939775910365) 0%, rgba(246,139,161,0.8155637254901961) 100%);
    color: #222;
    text-align: center;
    position: sticky; 
}
.footer h1{
    font-family: "Outfit", sans-serif;
    font-weight: 900;
}