.main{
    background-image: url('https://cdn0.matrimonio.com.co/article-vendor/4191/3_2/1280/jpg/-r7a1887low_10_94191-160502000838041.jpeg');
    background-size: cover;
    height: auto;
    min-height: 100vh;
}