.main {
    text-align: center;
  }
  
  .carouselContainer {
    width: 400px;
    height: 300px;
    margin: 0 auto;
  }
  
  .carousel img {
    width: 50%;
    height: 50%;
    object-fit: cover;
  }
  